{% extends "iDCitySemanticSearchBundle::layout.html.twig" %}

{%block title %}
	Barre de recherche - {{ parent() }}
{% endblock %}


{% block idCitySemanticSearch_body %}



<div class=researchBar>
	<h3>Barre de recherche</h3>
	<form action accept-charset="UTF-8">  
	<input type = "search" name = "terme" id = "by_name" placeholder="Rechercher sur le site…">
	<input type = "button" name = "s" id= "s" value = "Rechercher">
	</form> 
</div>

<div class=resultContainer>
	<h3>Résultats obtenus</h3>
	<hr>
	<p id='article1' >

	</p>
</div>



	


<script>
  $(document).ready(function(){
	
	
  	$('#s').click(function() {
		
	    var data = $('#by_name')[0].value;
	    console.log($('#by_name'));
	    console.log(data);
	    var json = { words: data.split(' ').join('|')}
	    //var json = JSON.stringify(eval('('+ str+ ')'));

		
		$('#article1').text("Je mange des bananes");
		
	    $.ajax({
	        type: 'POST',
	        url: 'http://localhost:3000',
	        data: json,
	      }).done(function(msg){
	        refreshPage(msg);  
		  });

	    function refreshPage(msg){
	    	// Mettre à jour les données de la page
			$('#article1').text(msg.relevantWords.join(' '));
	    }

    });

  });
</script>




{% endblock %}