{% extends "iDCitySemanticSearchBundle::layout.html.twig" %}

{%block title %}
	Barre de recherche - {{ parent() }}
{% endblock %}


{% block idCitySemanticSearch_body %}



<div class=researchBar>
	<h3>Barre de recherche</h3>
	<form>  
	<input type = "search" name = "terme" id = "terme" placeholder="Rechercher sur le site…">
	<input type = "button" name = "s" id= "s" value = "Rechercher">
	</form> 
</div>
<div class=resultContainer>
	<h3>Résultats obtenus</h3>
	<hr>
	<p1 id=article1 >
		
	</p1>
</div>



	


<script>
  $(document).ready(function(){
	
	
  	$('#s').click(function() {
		
	    var data = $('#terme')[0].value;
	    console.log($('#terme'));
	    console.log(data);
	    var json = { words: data.split(' ').join('|')}
	    //var json = JSON.stringify(eval('('+ str+ ')'));

	    $.ajax({
	        type: 'POST',
	        url: 'http://localhost:3000',
	        data: json,
	      }).done(function(msg){
	        refreshPage();  
	    });

	    function refreshPage(){
	    //Mettre à jour les données de la page

	    	var list = "";
	    	//pour chaque élément trouvé dans le JSON, on peuple une liste
	    	$.each(JSON.parse(['data']), function(i, item){
	    		var li = document.createElement('li');
	    		var text = document.createNodeText( item.words);
	    		li.appendChild(text);
	    		list.appendChild(li);
				console.log(list);
				$('#article1').text(list);
	    	})
	    }

    });

  });
</script>




{% endblock %}