{% extends "iDCitySemanticSearchBundle::layout.html.twig" %}

{%block title %}
	Barre de recherche - {{ parent() }}
{% endblock %}


{% block idCitySemanticSearch_body %}


<div class=researchBar>
	<h3>Barre de recherche</h3>
	<input type = "search" name = "terme" id = "researchText" placeholder="Rechercher sur le site…">
	<input type = "button" name = "researchButton" id= "researchButton" value = "Rechercher">
</div>

<div class=resultContainer>
	<h3>Résultats obtenus</h3>
	<hr>
	<p id='article1' >

	</p>
</div>


<script>
	let previousText = '';
	let currentText = '';

	$(document).ready(function(){
		// On fait la recherche quand on clique sur le bouton Rechercher
		$('#researchButton').click(function() {
			sendRequest();
		});

		// On fait la recherche quand on clique sur la touche Entrée
		$(document).keypress(function(e) {
			if(e.which == 13) {
				sendRequest();
			}
		});

		// On lance une recherche régulièrement si on a entré plus de 3 lettres et que l'on a modifié le texte depuis la dernière recherche
		setInterval(function(){
			currentText = $('#researchText')[0].value;
			if (currentText.length > 3 && currentText !== previousText) {
				sendRequest();
			}
		}, 1000);
	});

	function refreshPage(msg){
		// Mettre à jour les données de la page
		$('#article1').text(msg.relevantWords.join(' '));
	}

	function sendRequest() {
		const researchText = $('#researchText')[0].value;
		const jsonData = { words: researchText.split(' ').join('|')}
			
		previousText = researchText;

		$.ajax({
				type: 'POST',
				url: 'http://localhost:3000',
				data: jsonData,
		}).done(function(responseFromNode) {
			$.ajax({
				type: 'POST',
				url: "{{path('i_d_city_semantic_search_response')}}",
				data: responseFromNode
			}).done(function(responseFromSymfony) {
				console.log(responseFromSymfony);
				console.log(responseFromNode);
				// refreshPage(responseFromSymfony);
			});  
		});
	}
</script>


{% endblock %}